#container {
  margin-right: 10px;
}

.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  float: left;
  border:15px solid green;
  text-align: center;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  float: left;
  margin-left:50px;
/*  border:15px solid red;*/
  border:15px solid; 
  border-color: red;
  text-align: center;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  float: left;
  margin-left:50px;
  border:15px solid yellow;
  text-align: center;
}

p {
  text-transform: uppercase;
  color: blue;
}
